.navbar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 60px;
    z-index: 1;
}

.navlist {
    display: flex;
    list-style: none;
}

.navitems {
    margin: 0 10px;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 20px;
}

.navbar img {
    height: 50px;
}

.navbar>ul {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo {
    z-index: 1;
    margin-top: 30px;
}

.logo_holder {
    display: flex;
    justify-content: center;
}

.logo_holder_1 {
    content: "";
    border: 20px solid;
    position: absolute;
    border-color: var(--primary-color) var(--primary-color) transparent transparent;
    width: 30px;
    top: 40px;
    left: 701px;
    z-index: 1;
}

.logo_holder_2 {
    content: "";
    border: 20px solid;
    position: absolute;
    border-color: var(--primary-color);
    width: 30px;
    top: 40px;
    z-index: 1;
}

.logo_holder_3 {
    content: "";
    border: 20px solid;
    position: absolute;
    border-color: var(--primary-color) transparent transparent var(--primary-color);
    width: 30px;
    top: 40px;
    right: 700px;
    z-index: 1;
}

.background {
    z-index: 0;
    width: 100%;
}

.introduce {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-around;
}

.blank {
    width: 50px;
}

.text {
    width: 500px;
    margin-top: 50px;
}

.title {
    color: var(--text-color);
    font-size: 60px;
    font-weight: 500;
}

.sample {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.image {
    width: 550px;
    margin: 20px 0;
}

.block {
    position: relative;
}

.block_1 {
    top: -450px;
    left: -70px;
    width: 200px;
}

.block_2 {
    top: -300px;
    left: -70px;
    width: 100px;
}

.block_3 {
    top: -250px;
    right: -450px;
    width: 150px;
}

.countdown {
    position: relative;
    /* Đảm bảo giữ không gian */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.countdown::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/BG2.png");
    /* Thay bằng ảnh của bạn */
    background-size: cover;
    background-position: center;
    /* filter: blur(10px); */
    z-index: -2;
}

/* Lớp phủ xanh */
.countdown::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 50, 100, 0.5);
    z-index: -1;
}

.countdown_info {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.countdown_text {
    position: relative;
    font-size: 3.8rem;
    color: var(--primary-color);
    top: -80px;
    left: -200px;
}

.countdown_date {
    position: relative;
    font-size: 3.8rem;
    font-weight: 100;
    color: var(--white-color);
    top: -80px;
    left: -150px;
}

.countdown_clock {
    display: flex;
    justify-content: center;
    position: absolute;
}

.clock {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-color: #71c9ce;
    border-style: inset;
    border-radius: 50%;
    top: 50px;
    margin: 30px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

.clock::after {
    content: attr(data-text);
    position: absolute;
    top: -10px;
    right: -20px;
    transform: translateX(-50%);
    font-size: 16px;
    color: #ddd;
}

.countdown_clock-date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 100;
}

.countdown_clock-hour {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 100;
}

.countdown_clock-minute {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 100;
}

.countdown_clock-second {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 100;
}

.prize {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-image: url("../img/Prize.png");
    background-size: cover;
}

.prize::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/IMG_4819.png");
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.wrapper {
    position: relative;
    height: 700px;
}

.timeline {
    background-color: var(--bg-color);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.timeline_text {
    position: relative;
    font-size: 4.4rem;
    font-weight: 200;
    left: 150px;
    top: 50px;
    color: var(--primary-color);
}

.timeline_holder {
    position: relative;
}

.timeline_tree {
    position: relative;
    width: 1500px;
    height: 50px;
    left: 400px;
    border: 4px solid #85D2D5;
    border-radius: 20px 20px 0 0;
    border-bottom: none;
    background: none;
    top: 80px;
}

.timeline_tree-line {
    position: relative;
    width: 3px;
    height: 50px;
    background-color: #85D2D5;
}

.line_1 {
    left: 880px;
    width: 4px;
    top: 30px;
}

.line_2 {
    left: 1400px;
    width: 4px;
    top: -20px;
}

.timeline_tree-point {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--white-color);
    border-color: #71c9ce;
    border-style:  solid;
    border-radius: 50%;
    border-width: 5px;
    top: 50px;
    margin: 30px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

.point_1 {
    position: relative;
    top: -50px;
    left: 347px;
}
.point_2 {
    position: relative;
    top: -130px;
    left: 827px;
}
.point_3 {
    position: relative;
    top: -210px;
    left: 1347px;
}
.point_4 {
    position: relative;
    top: -290px;
    left: 1842px;
}

.timeline_holder-news {
    display: flex;
    position: absolute;
    top: 150px;
    left: 235px;
}

.timeline_tree-box {
    height: 245px;
    width: 330px;
    border: 4px solid #71c9ce;
    border-radius: 10px;
}

.box_1 {
    position: relative;
}
.box_2 {
    position: relative;
    margin-left: 150px;
}
.box_3 {
    position: relative;
    margin-left: 190px;
}
.box_4 {
    position: relative;
    margin-left: 150px;
}

.block_4 {
    position: relative;
    width: 150px;
    opacity: 0.4;
    top: -780px;
    left: -20px;
}

.block_5 {
    position: relative;
    width: 120px;
    opacity: 0.4;
    left: -50px;
    bottom: 400px;
}

.block_6 {
    position: relative;
    width: 180px;
    opacity: 0.4;
    top: -730px;
    left: 500px;
}

.block_7 {
    position: relative;
    width: 300px;
    opacity: 0.4;
    top: -550px;
    left: 750px;
}

.block_8 {
    position: relative;
    width: 100px;
    opacity: 0.4;
    left: 200px;
    bottom: 300px;
}



